{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="banner w-100">
		<img src=" {% static 'img/img/layered-COM-header-1-1024x341.jpg' %}" alt="Banner" class="banner-principal">
		<div class="texto-banner">
			<h1>Reciclajes de metales<br>Oportunidades, limites, infraestructura</h1>
		</div>
	</div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-6">
      <div class="container4">
        <p class="tex6">El reciclaje de determinados materiales que utilizamos en nuestra vida cotidiana supone reducir la contaminación, favorece el ahorro y ayuda a conservar las riquezas naturales del medio ambiente. Un buen ejemplo de ello es tambien el reciclaje de metales. Quizas menos oídos qu el del papel, carton, plastico pero de igual importancia</p>
      </div>
    
    </div>
    <div class="col-lg-4">
      <img src="  {% static 'img/img/laton.jpg' %}" alt="Descripción de la imagen" class="position-relative top-50 start-50 translate-middle" width="100%">
    </div>
    <div class="col-lg-1"></div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1 style="text-align: center;">Metales Reciclados</h1>
    </div>
  </div>
  <div class="row justify-content-center align-content-center m-2">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 p-2" >
      <div class=""  >
        <h1 class="tex2">Recuperación de chatarra</h1>
        <img src=" {% static 'img/img/im2.jpg' %}" class="materiales">
       <p class="tex3">La recuperación de chatarra uno de los ámbitos más importantes en el mundo del reciclaje, por sus efectos benifisiosos en el medio ambiente.</p> 
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 p-2" >
      <div class=""  >
        <h1 class="tex2">Metales Reciclados</h1>
        <img src=" {% static 'img/img/im3.jpg' %}" class="materiales">
       <p class="tex3">Los metales tienen en su inmensa mayoría la ventaja de poder ser reciclados, si realiazamos el proceso adecuado para ello. </p> 
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 p-2" >
      <div class=""  >
        <h1 class="tex2">Reciclar Aluminio</h1>
        <img src=" {% static 'img/img/im6.jpg' %}" class="materiales">
       <p class="tex3">La sociedad es cada ves más consiente de la importancia de reciclar aluminio. Gracias a ello el porcentaje de residuos de este material va reduciendo cada ves más.</p> 
      </div>
    </div>
  
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p style="text-align: center;font-size: 20px;">Mejoramos la calidad del aire al reducir su contaminación. El reciclaje del aluminio, de echo, representa una disminución de las emisiones en 9,8 toneladas de dioxido de carbono y 64 kilogramos de dióxido de azufre.</p>
      <p style="text-align: center;font-size: 20px;">Disminuimos las imisiones de gases de efecto invernadero<br>Generamos un descenso de los residuos destinados a incrementación, lo que hace que disminuyan las sustancias tóxicas y peligrosas.<br>Construbuimos a que se reduzcan los residuos de chatarra que acaban en vertederos. </p>
    </div>
  </div>

  

  {% endblock  %}





