{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="banner w-100">
		<img src=" {% static 'img/img/negocios-v-2019_02_12_233023@2x.jpg' %}" alt="Banner" class="banner-principal">
		<div class="texto-banner">
			<h1>Reciclar papel ecologia y sostenibilidad</h1>
		</div>
	</div>
  <div class="row">
    <div class="col-md-12">.</div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <p class="tex4">Antes de conocer como se recicla el papel es importantes saber que la producción de este material es posible gracias a la puesta en marcha de un ciclo que parte de un recurso natural y renovable como la fibra celulosa, y que se cierra con los sucesivos procesos de reciclaje</p>
      <div class="col-12 justify-content-center align-items-center d-flex pt-4 pb-4">
        <a href="https://reciclaje-inteligente.vercel.app/recycling" class="button">Ir a la App</a>
      </div>
    </div>
    <div class="col-md-5 d-flex justify-content-center align-items-center">
      
        <img src=" {% static 'img/img/cajas.jpg' %}" alt="Descripción de la imagen" width="100%" >
    
        
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-sm-11">
      <h1 style="position: relative;left: 2%;" >Tipos de reciclaje de papel</h1>
      <p class="tex8">Si el proceso de recuperación es industrial, existen tres tipos de papel para reciclar que se utilizan como material de primas:</p>
      <p class="tex7">1. El papel molido: recortes y trozos provenientes de la manofactura de papel<br>2. Los desechos pre-comsumo:materiales que ya han pasado por la fabrica de papel, y que han rechazado antes de estar preparados para el comsumo<br>3. Los desechos post-comsumo: materiales de papel ya utilizados que llevamos a los contenedores de reciclaje desde casa, como revistas, periódicos, material de oficina...etc.</p>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row">
    <div class="col-sm-11">
      <h1 style="position: relative;left: 2%;" >¿Cuanto ahorramos cuando reciclamos papel?</h1>
      <p class="tex7">Reciclar una tonelada de papel de periódico ahorra aproximandamente una tonelada de madera, mientras que reciclando una tonelada de papel impreso o de copias se ahorra algo más de sostoneladas de madera.</p>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <img src=" {% static 'img/img/lapiz-sobre-papel.jpg' %}" width="100%">
    </div>
    <div class="col-md-6"></div>
  </div>

  <div class="row pb-4 pt-2">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="container4">
        <h1 style="position: relative;margin-top: 20%;text-align: center;">¿Se puede reciclar todo el papel?</h1>
        <p style="text-align: center;font-size: 20px;">Descraciadamente hay tipos de papel que cuesta mucho reciclar, bien por estar cubiertos de brillo, plástico o metales, bien por ser de tan pobre calidadn(como los papeles regalos) que no sirven.</p>
      </div>
    </div>
    <div class="col-md-5">
      <img src=" {% static 'img/img/papeles-blancos-apilados.jpg' %}" alt="Descripción de la imagen" width="100%">
    </div>
    <div class="col-md-1"></div>
  </div>



  {% endblock  %}