{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="banner w-100">
		<img src=" {% static 'img/img/negocios-v-2019_02_12_233023@2x.jpg' %}" alt="Banner" class="banner-principal">
		<div class="texto-banner">
			<h1>Di no a la contaminación</h1>
		</div>
	</div>
    <div class="row">
        <div class="col-md-12">.</div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <p class="tex4">El principal motivo para reciclar el plástico es porque sus residuos tardan entre 100 y 1.000 años en degradarse. El carbon y el plástico, estaremos consumiendo menos cantidades de materias primas y de recursos naturales y energeticos no renovables. Así evitamos que estos se agoten.</p>
        </div>
        <div class="col-md-5  d-flex justify-content-center align-items-center">
          
            <img src=" {% static 'img/img/YMC33AYZTVFYPE76SE3VPTW5M4.jpg' %}" alt="Descripción de la imagen" width="100%" >
          
        </div>
        <div class="col-md-1"></div>
    </div> 
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <h1 style="text-align: center;">¿Cómo reciclar el plástico y cuál es su objetivo?</h1>
          <p class="tex8">Si el proceso de recuperación es industrial, existen tres tipos de papel para reciclar que se utilizan como material de primas:</p>
          <p class="tex7">1. El papel molido: recortes y trozos provenientes de la manofactura de papel<br>2. Los desechos pre-comsumo:materiales que ya han pasado por la fabrica de papel, y que han rechazado antes de estar preparados para el comsumo<br>3. Los desechos post-comsumo: materiales de papel ya utilizados que llevamos a los contenedores de reciclaje desde casa, como revistas, periódicos, material de oficina...etc.</p>
        </div>
        <div class="col-sm-1"></div>
    </div>


    <div class="row p-4 m-3 justify-content-center align-content-center d-flex">
      <div class="col-auto  p-2">
        <img src=" {% static 'img/img/botellas-plastico-ki1G-1200x630@abc.jpg' %}" class="materiales himge" >
      </div>
      <div class="col-auto  p-2">
        <img src="{% static 'img/img/Con-tapitas-de-plastico-puedes-apoyar-a-personas-con-cancer.jpg' %}" class="materiales himge">
      </div>
      <div class="col-auto p-2">
        <img src="{% static 'img/img/2H5ABTCDMBFKVINS4FQYCOFA7M.jpg ' %}" class="materiales himge">
      </div>
      <div class="col-auto p-2">
        <img src="{% static 'img/img/depositphotos_563871634-stock-photo-a-woman-collecting-and-putting.webp ' %}" class="materiales himge">
      </div>
      <div class="col-auto p-2">
        <img src="{% static 'img/img/2H5ABTCDMBFKVINS4FQYCOFA7M.jpg ' %}" class="materiales himge">
      </div>
      <div class="col-auto p-2">
        <img src="{% static 'img/img/ventajas-reciclaje-plastico.jpg ' %}" class="materiales himge">
      </div>
      <div class="col-auto  p-2">
        <img src="{% static 'img/img/im3.jpg' %}" class="materiales himge ">
      </div>

      <div class="col-auto  p-2">
        <img src="{% static 'img/img/plas.jpg' %}" class="materiales himge " >
      </div>
    </div>





    {% endblock  %}