{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="banner w-100">
		<img src=" {% static 'img/img/negocios-v-2019_02_12_233023@2x.jpg' %}" alt="Banner" class="banner-principal">
		<div class="texto-banner">
			<h1>Recicla Con Reciclaje Inteligente</h1>
		</div>
	</div>
    <div class="row">
        <div class="col-md-12">.</div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h1 style="font-size: 50PX;text-align: center;position: relative;margin-top: 15%;">¿COMO COLABORAR?</h1>
            <h1 style="font-size: 25px;text-align: center;">CONSUME MÁS PRODUCTOS EN VIDRIO</h1>
          <p style="text-align: center;font-size: 25px;">Tenemos el poder de cambiar la tendencia. Al comsumir productos en vidrio cuidas el ambiente ya que tiene una huella de carbono menor que otros materiales, no contamina ni el agua ni el suelo. </p>
        </div>
        <div class="col-md-5 d-flex justify-content-center align-items-center">
          <div class="container3 ">
            <img src="{% static 'img/img/botellas.jpg' %}" alt="Descripción de la imagen" width="100%" class="img1">
          </div>
        </div>
        <div class="col-md-1"></div>
    </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="container1">
        <img src="{% static 'img/img/reciclaje_vidrio.jpg' %}" alt="Descripción de la imagen" class="img1">
      </div>
    </div>
    <div class="col-md-6">
        <h1 style="font-size: 40PX;text-align: center;">PARTICIPA EN LAS ACTIVIDADES DE INTERCAMBIO</h1>
         <p style="font-size: 30px;text-align: center;">Puedes llevar tus envases de vidrio a las actividades de intercambio que se anuncian en paginas de Instagram y Facebook.</p>
         <div class="col-12 justify-content-center align-items-center d-flex pt-4">
          <a href="https://reciclaje-inteligente.vercel.app/recycling" class="button">Ir a la App</a>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <p style="text-align: center;" class="h3 pt-5">Reciclando los envases de vidrio luchas contra el cambio climático porque evitas que se emita CO2 a la atmósfera. Y cuidas la tierra porque reaprovechas los recursos naturales. Esto es lo que consigues poniendo en marcha la cadena de reciclado. Conoce todas sus fases, desde que depositas el envase en el contenedor hasta que se convierte en uno nuevo.</p>
    </div>
    <div class="col-md-5">
      <div class="container3">
        <img src="{% static 'img/img/proceso-de-reciclaje-vidrio.png ' %}" alt="Descripción de la imagen" width="100%" class="img1">
      </div>
    </div>
    <div class="col-md-1"></div>
</div>

{% endblock  %}
  

